ul {
  font-size: 20px;
  padding: 0;
  list-style: none;
  display: inline-block;
}

li {
  margin-bottom: 20px;
}

#cancel-button {
  background-color: white;
}

#confirm-booking {
  background-color: white;
}
