:root {
  --widget-width: 300px;
}

.container {
  margin: 0 20px 0 20px;
  width: fit-content;
}

/*Custom class*/
.mat-form-field-time {
  color: white;
  width: 140px;
  text-align: center;
}

.mat-form-field input {
  justify-content: center;
}

/*Mat stepper*/
mat-stepper.ng-tns-c128-0 {
  background-color: #2A2A2A;
  padding: 0 5%;
}

.submit-button {
  background-color: #C23350;
}

mat-form-field {
  width: var(--widget-width);
}

.mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
  background-color: var(--primary-white);
}

mat-card.mat-card {
  margin: 0;
  padding: 0;
  width: var(--widget-width);
}

.mat-calendar-header {
  background-color: var(--quintor-red);
}

.mat-calendar-body-selected {
  background-color: var(--quintor-red);
}

.mat-step-header .mat-step-icon-selected {
  background-color: var(--quintor-red);
}

.mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: var(--primary-grey);
}

.mat-step-text-label {
  color: white;
}

.mat-horizontal-stepper-content.ng-trigger.ng-trigger-horizontalStepTransition.ng-tns-c84-0.ng-star-inserted {
  display: grid;
  text-align: center;
  justify-content: center;
}

.reservation-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.error-message-container {
  display: flex;
  justify-content: center;
}

.error-message {
  display: inline-block;
  border: 1px solid #f8d7da;
  background-color: #f8d7da;
  color: #721c24;

  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem
}

.mat-stepper-horizontal-line {
  background-color: white;
}

@media screen and (max-width: 450px) {
  .mat-step-text-label {
    visibility: hidden;
  }
}
