<app-my-reservations></app-my-reservations>

<mat-stepper [linear]="false">

  <!-- Location Step-->
  <mat-step label="Locatie">
    <mat-form-field appearance="fill">
      <mat-label>Locatie</mat-label>
      <mat-select [(ngModel)]="selectedLocationId" required>
        <mat-option *ngFor="let loc of locations" [value]="loc.id">
          {{loc.name}}
        </mat-option>
      </mat-select>

      <mat-error *ngIf="locationsControl.hasError('required')">Kies een locatie</mat-error>
    </mat-form-field>

    <div>
      <button mat-button matStepperNext type="button">Next</button>
    </div>
  </mat-step>

  <!-- Date Step-->
  <mat-step label="Datum">
    <mat-card class="demo-inline-calendar-card">
      <mat-calendar (selectedChange)="onSelect($event)"
                    [selected]="selectedDate"
                    [minDate]="minDate">
      </mat-calendar>
    </mat-card>

    <div>
      <button mat-button matStepperPrevious type="button">Back</button>
      <button mat-button matStepperNext type="button">Next</button>
    </div>
  </mat-step>

  <!-- Time Step-->
  <mat-step label="Tijden">
    <mat-form-field appearance="outline" class="mat-form-field-time"
                    [floatLabel]="floatLabelControl.value">
      <mat-label>Start Tijd</mat-label>
      <input [(ngModel)]="selectedStartTime" name="selectedStartTime" matInput type="time" required>
      <mat-icon matPrefix>access_time</mat-icon>
      <mat-error>Kies een start tijd</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-form-field-time"
                    [floatLabel]="floatLabelControl.value">
      <mat-label>Eind Tijd</mat-label>
      <input [(ngModel)]="selectedEndTime" name="selectedEndTime" matInput type="time" required>
      <mat-icon matPrefix>timelapse</mat-icon>
      <mat-error>Kies een eind tijd</mat-error>
    </mat-form-field>

    <div>
      <button mat-button matStepperPrevious type="button">Back</button>
      <button mat-button matStepperNext type="button">Next</button>
    </div>
  </mat-step>

  <!-- Type Step-->
  <mat-step label="Type">
    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="selectedReservationType" required>
        <mat-option *ngFor="let type of reservationType" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>

      <mat-error *ngIf="reservationTypeControl.hasError('required')">Kies een reservatie type</mat-error>
    </mat-form-field>

    <div>
      <button mat-button matStepperPrevious type="button">Back</button>
      <button mat-flat-button class="submit-button" (click)="onSubmit()">Zoek</button>
    </div>
  </mat-step>
</mat-stepper>

<div class="error-message-container">
  <div *ngIf="errorMessage" class="error-message">{{errorMessage}}</div>
</div>

<app-open-workplace-card class="reservation-cards container" [workplaces]="workplaces"
                         (book)="book($event)"></app-open-workplace-card>
<app-open-room-card class="reservation-cards container" [rooms]="rooms" (book)="book($event)"></app-open-room-card>
