div {
  margin-left: 70px;
}

h2 {
  font-size: 20px;
  margin-right: 0;
}

img {
  height: 20px;
  margin-top: 30px;
}

.mat-table.cdk-table {
  margin-bottom: 20px;
  width: fit-content;
  min-width: 60%;
  border: solid 2px white;
  background-color: var(--primary-background-dark);
  border-collapse: collapse;
}

tr.mat-row {
  border: 2px solid white;
}

th {
  color: white;
}

td {
  color: white;
}

@media screen and (max-width: 800px) {
  .mat-table.cdk-table {
    width: fit-content;
    min-width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .mat-table.cdk-table {
    display: block;
    width: auto;
    max-width: none;
    min-width: 100%;
    table-layout: fixed;
  }

  .my-reservations-wrapper {
    width: auto;
    max-width: none;
    min-width: 100%;
    table-layout: fixed;
  }
}
