<div *ngFor="let room of rooms" class="container">
  <h4 class="card-title">{{reservationResponse.type}}</h4>
  <ul>
    <li>Verdieping:</li>
    <li *ngIf="reservationResponse.type == 'Werkplek'">Available:</li>
    <li>Capaciteit:</li>
  </ul>

  <ul>
    <li>{{room.floor}}</li>
    <li *ngIf="reservationResponse.type == 'Werkplek'">{{room.available}}</li>
    <li>{{room.capacity}}</li>
  </ul>

  <div class="container__button">
    <Button class="quintor" (click)="book.emit(room)">Boek</Button>
  </div>
</div>
