.container {
  margin: 30px;
  background-color: var(--quintor-red);
  color: var(--primary-white);
  border: 1px none #707070;
  width: fit-content;
  border-radius: 5px;
}

.container__button {
  display: flex;
  justify-content: center;
}

ul {
  font-size: 20px;
  margin-left: 20px;
  padding: 0;
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

button {
  border-radius: 0 0 3px 3px;
  border: none #707070;
  width: 100%;
  font-weight: bold;
  height: 30px;
  background-color: white;
}
