<div *ngIf="(showAddTask || hasRoute('/admin/location'))">
	<div class="container">
		<h2>Location Reserveringen</h2>

		<mat-form-field appearance="fill">
			<mat-label class="location-label">Locatie</mat-label>
			<mat-select [(value)]="location" required (selectionChange)="refresh($event)">
				<mat-option *ngFor="let loc of locations" [value]="loc.id">
					{{loc.name}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>

	<div class="my-reservations-wrapper" *ngIf="allMyReservationsSlice">
		<table mat-table [dataSource]="allMyReservationsSlice" matSort aria-label="Elements">
			<!--- Note that these columns can be defined in any order.
						The actual rendered columns are set as a property on the row definition" -->

			<!-- Id Column -->
			<ng-container matColumnDef="id">
				<th mat-header-cell *matHeaderCellDef id="id">Id</th>
				<td mat-cell *matCellDef="let element"> {{element.id}} </td>
			</ng-container>

			<!-- Date Column -->
			<ng-container matColumnDef="date">
				<th mat-header-cell *matHeaderCellDef id="date">Datum</th>
				<td mat-cell *matCellDef="let element"> {{element.date}} </td>
			</ng-container>

			<!-- Time Column -->
			<ng-container matColumnDef="tijd">
				<th mat-header-cell *matHeaderCellDef id="tijd">Tijd</th>
				<td mat-cell *matCellDef="let element">{{element.startTime}} - {{element.endTime}} </td>
			</ng-container>

			<!-- workplace amount Column -->
			<ng-container matColumnDef="workplaceAmount">
				<th mat-header-cell *matHeaderCellDef id="workplaceAmount">werkplek(ken)</th>
				<td mat-cell *matCellDef="let element">{{element.workplaceAmount}} </td>
			</ng-container>

			<!-- Room id Column -->
			<ng-container matColumnDef="roomId">
				<th mat-header-cell *matHeaderCellDef id="roomId">Kamer</th>
				<td mat-cell *matCellDef="let element"> {{element.roomId}} </td>
			</ng-container>

			<ng-container matColumnDef="recurrence">
				<th mat-header-cell *matHeaderCellDef id="recurrence">herhaling</th>
				<td mat-cell *matCellDef="let element"> {{element.recurrence.recurrencePattern}} </td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
			<tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
		</table>
		<mat-paginator [length]="this.allMyReservations.length"
									 [pageSize]="3"
									 [pageSizeOptions]="[3,5,10,20]"
									 (page)="OnPageChange($event)">
		</mat-paginator>

	</div>
</div>
