<div class="center">
	<h2>Inloggen</h2>
</div>

<form class="center">
	<mat-form-field class="mat-form-field-email" appearance="fill">
		<mat-label class="email-label">Email</mat-label>
		<input type="email" matInput
					 placeholder="example@email.com" class="input-email">
	</mat-form-field>

	<mat-form-field class="mat-form-field-password" color="white" appearance="fill">
		<mat-label>Password</mat-label>
		<input type="password" matInput>
	</mat-form-field>

	<button mat-button class="submit-button" type="button">Login</button>
</form>
