<div class="center">
	<h2>Inloggen</h2>
</div>

<div class="center">
	<app-notification></app-notification>
</div>

<form class="center">

	<mat-form-field class="mat-form-field-email" appearance="fill">
		<mat-label class="email-label">Email</mat-label>
		<input type="email" matInput
					 placeholder="example@email.com" class="input-email" [(ngModel)]="email" name="email">
	</mat-form-field>

	<mat-form-field class="mat-form-field-password" color="white" appearance="fill">
		<mat-label>Password</mat-label>
		<input type="password" matInput [(ngModel)]="password" name="password">
	</mat-form-field>

	<button mat-button class="submit-button" type="button" (keydown.enter)="login()" (click)="login()">Login</button>
</form>
