<div class="container">
  <ul>
    <li>
      <a><img src="assets/images/QuintorLogo.png" alt="Home page" aria-label="Home page" routerLink="/home"/></a>
    </li>
    <li>
      <div class="vertical-line" aria-disabled="true"></div>
    </li> 
    <li><a routerLink="/reserve">Reserveren</a></li>
    <li>
      <div class="vertical-line" aria-disabled="true"></div>
    </li>
    <li id="account"><a><img src="assets/images/QuintorCircle.png" alt="Account" aria-label="Account page"/> </a></li>
  </ul>
</div>
