<form [formGroup]="reservationForm">
  <mat-stepper linear style="background-color: #2A2A2A; padding: 0 5%;">

    <mat-step formGroupName="locationDetails"
              [stepControl]="reservationForm?.get('locationDetails')!"
              label="Locatie">
      <mat-form-field appearance="fill">
        <mat-label>Locatie</mat-label>
        <mat-select formControlName="locationFormCtrl" required>
          <mat-option *ngFor="let loc of locations" [value]="loc.id">
            {{loc.name}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="locationsControl.hasError('required')">Kies een locatie</mat-error>
      </mat-form-field>

      <div>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>

    <mat-step label="Datum">
      <mat-card class="demo-inline-calendar-card">
        <mat-calendar (selectedChange)="onSelect($event)"
                      [selected]="selectedDate"
                      [minDate]="minDate" required>
        </mat-calendar>
      </mat-card>

      <div>
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>

    <mat-step formGroupName="timeDetails"
              [stepControl]="reservationForm?.get('timeDetails')!"
              label="Tijden">
      <mat-form-field appearance="outline" style="width: 140px; text-align: center;" [floatLabel]="floatLabelControl.value">
        <mat-label style="color: white">Start Tijd</mat-label>
        <input formControlName="startTimeFormCtrl" name="selectedStartTime" style="justify-content: center;" matInput type="time" required>
        <mat-icon matPrefix>access_time</mat-icon>
        <mat-error>Kies een start tijd</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 140px; text-align: center;" [floatLabel]="floatLabelControl.value">
        <mat-label style="color: white;">Eind Tijd</mat-label>
        <input formControlName="endTimeFormCtrl" name="selectedEndTime" style="justify-content: center;" matInput type="time" required>
        <mat-icon matPrefix>timelapse</mat-icon>
        <mat-error>Kies een eind tijd</mat-error>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>

    <mat-step formGroupName="typeDetails"
              [stepControl]="reservationForm?.get('typeDetails')!"
              label="Type">
      <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <mat-select formControlName="typeFormCtrl" required>
          <mat-option *ngFor="let type of reservationType" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="reservationTypeControl.hasError('required')">Kies een reservatie type</mat-error>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-flat-button style="background-color: #C23350;" (click)="onSubmit()" type="button">Zoek</button>
      </div>
    </mat-step>

  </mat-stepper>
</form>
